.git
.gitignore
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/.run
**/.DS_Store

AR-TalkingHeads/
trajectories_logs/
checkpoints/
play_web/answer/
play_web/.run/
play_web/messages.txt

*.md

.env
.env.*
